<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Replikacija.Properties.Settings.A2D2udb_Frukta_2022ConnectionString"
            connectionString="Data Source=192.168.234.100;Initial Catalog=A2D2udb-Frukta-2022;Persist Security Info=True;User ID=sa;Password=Fructa2014pa$$"
            providerName="System.Data.SqlClient" />
        <add name="Replikacija.Properties.Settings.A2D2udb_Frukta_2023ConnectionString"
            connectionString="Data Source=192.168.234.100;Initial Catalog=A2D2udb-Frukta-2023;User ID=sa;Password=Fructa2014pa$$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>